<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <h1>Reflexão</h1>
    <h2>Temos que voar e ter a força de uma águia</h2>
    <img src="{{ url_for('static', filename='img/Águia.jpg') }}" alt="Águia">
</body>
</html>