<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>IMC | Índice de Massa Corporal</h1>
    <form action="/imc" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required><br><br>

        <label for="massa">Massa (kg):</label>
        <input type="number" name="massa" step="0.1" required><br><br>

        <label for="altura">Altura (m):</label>
        <input type="number" name="altura" step="0.01" required><br><br>

        <button type="submit">Calcular IMC</button>
    </form>
    <hr>
        <h2>{{ result if result else "" }}</h2>
</body>
</html>